$bodyBg: #f3f4fa;
$mainBg: #fff;
$mainColor: #06d6a0;
$txtColor: #838d96;
$outlineBorders: #3a86ff;
$purple: #8624db;
$orange: #ff9066;
$white: #fff;
$black: #000;
$green: #4caf50;
$red: #e63946;
$fontFamily: "Roboto", sans-serif;
$boxShadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$fontSizeNormal: 1rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 4rem;
$sideBarLogoHeight: 136px;
$spacing: 40px;
$mobileSpacing: 24px;
$borderRadius: 30px;

$mobile-width: 600px;
$tablet-width: 1366px;
